/* GENERAL */

:root {
  --magentaOscuro: hsl(300, 43%, 22%);
  --rosa: hsl(333, 80%, 67%);
  --magentaGrisOscuro: hsl(303, 10%, 53%);
  --magentaGrisClaro: hsl(300, 24%, 96%);
  --blanco: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: var(--magentaOscuro);
}

.contenedor-superior {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;
}

.titulos {
  width: 30%;
}

.titulos h1 {
  margin-bottom: 20px;
}

.titulos p {
  color: var(--magentaGrisOscuro);
}

/* RATING */
.rating {
  background-color: var(--magentaGrisClaro);
  padding: 15px;
  width: 400px;
  display: flex;
  border-radius: 10px;
  margin-top: 15px;
}

.rating.margin-left-25 {
  margin-left: 25px;
}

.rating.margin-left-50 {
  margin-left: 50px;
}

.rating p {
  color: var(--magentaOscuro);
  font-weight: 700;
  margin-left: 20px;
}

/* TARJETA */

.contenedor-tarjetas {
  display: flex;
  justify-content: center;
}

.tarjeta {
  background-color: var(--magentaOscuro);
  width: 400px;
  height: 230px;
  margin: 0 15px;
  border-radius: 15px;
  padding: 25px;
}

.tarjeta.margin-top-50 {
  margin-top: 50px;
}

.tarjeta.margin-top-25 {
  margin-top: 25px;
}

.tarjeta .persona {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.tarjeta .persona div {
  margin-left: 20px;
}

.tarjeta .persona div h3,
.tarjeta .persona div h4 {
  font-size: 16px;
  font-weight: 500;
}

.tarjeta .persona div h3 {
  margin-bottom: 5px;
}

.tarjeta img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.tarjeta h3 {
  color: var(--magentaGrisClaro);
}

.tarjeta h4 {
  color: var(--rosa);
}

.tarjeta p {
  color: var(--magentaGrisClaro);
}

/* MOBILE */

@media screen and (max-width: 1080px) {
  .contenedor-superior {
    margin-top: 40px;
    flex-direction: column;
    text-align: center;
  }

  .titulos {
    width: 50%;
    min-width: 350px;
  }

  .rating {
    flex-direction: column;
  }

  .rating p {
    margin-top: 5px;
  }

  .rating.margin-left-25,
  .rating.margin-left-50 {
    margin-left: 0;
  }

  .contenedor-tarjetas {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .tarjeta.margin-top-50,
  .tarjeta.margin-top-25 {
    margin-top: 25px;
  }
}
